# looks like hugo stuff
public/
resources/
themes/
content/

# Node dependencies
node_modules/
package-lock.json

# Build output
# dist/
# p5.quadrille.js
# p5.quadrille.js.map

# IDE/editor folders
.vscode/

# Logs
*.log
npm-debug.log*

# Test and coverage
coverage/
.nyc_output/

# OS metadata files
.DS_Store

# REPL / temp
.node_repl_history

# hugo
content/
public/
resources/
themes/
.hugo*
