[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/docs/p5_functions"]
	path = content/docs/p5_functions
	url = git@github.com:objetos/q_p5fx.git
[submodule "content/docs/properties"]
	path = content/docs/properties
	url = git@github.com:objetos/q_props.git
[submodule "content/docs/boolean_operators"]
	path = content/docs/boolean_operators
	url = git@github.com:objetos/q_bool.git
[submodule "content/docs/geometry_transformations"]
	path = content/docs/geometry_transformations
	url = git@github.com:objetos/q_geom.git
[submodule "content/docs/immutable"]
	path = content/docs/immutable_methods
	url = git@github.com:objetos/q_immutable.git
[submodule "content/docs/mutable"]
	path = content/docs/mutable_methods
	url = git@github.com:objetos/q_mutable.git
[submodule "content/docs/visual_computing"]
	path = content/docs/visual_computing
	url = git@github.com:objetos/q_visual.git
[submodule "content/docs/conversion_methods"]
	path = content/docs/conversion_methods
	url = git@github.com:objetos/q_conversion.git
[submodule "content/docs/constants"]
	path = content/docs/constants
	url = git@github.com:objetos/q_constants.git
